<!doctype html>
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	    <title></title>
	</head>
<body>
	<script type="text/javascript">
		var socket = io.connect('http://localhost:5000', { path:''});
	      function signout() {
	      	 socket.emit("signout", {});
	      	 setTimeout(function(){
            window.location.href = "http://localhost:5000/";
        }, 2000);
	      }
	      function goToDashboard() {
	      	window.location.href = "http://localhost:5000/dashboard";
	      }
	</script>
	<div style={{sponsor_show}}>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#" onclick="goToDashboard();">Dashboard</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor02">
	    <ul class="navbar-nav ml-auto">
	      
	     <ul class="navbar-nav mr-auto">
			  
			  <li class="nav-item">
			    <a class="nav-link" href="#" onclick="signout()">Logout</a>
			  </li>
	    </ul>
	    
	  </div>
	</nav>
	
	<div class="container topSpacing">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 center-block">
				<h1 style="text-align: center">Search for Clients</h1><br>
				<div class="form-group">
					<h5>Select Causes</h5>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="sponsorCheck1">
					  <label class="custom-control-label" for="sponsorCheck1">Community Service</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="sponsorCheck2">
					  <label class="custom-control-label" for="sponsorCheck2">Outreach</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="sponsorCheck3" >
					  <label class="custom-control-label" for="sponsorCheck3">Education</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="sponsorCheck4" >
					  <label class="custom-control-label" for="sponsorCheck4">Technology</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="sponsorCheck5" >
					  <label class="custom-control-label" for="sponsorCheck5">Gaming</label>
					</div>
				</div>
				<h5>Phone Number</h5>
				<div class="form-group">
					<input class="form-control" type="tel" name="usrtel" id="phone">
				</div>
				<div class="form-group">
					<h5>Maximum Budget</h5>
					<input class="form-control" type="number" id="goal" placeholder="USD (digits only)"></input>
				</div>

				<h5>Select Causes</h5>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="customCheck1">
					  <label class="custom-control-label" for="customCheck1">One-time</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="customCheck2">
					  <label class="custom-control-label" for="customCheck1">Weekly</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="customCheck3" >
					  <label class="custom-control-label" for="customCheck1">Bi-weekly</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="customCheck4" >
					  <label class="custom-control-label" for="customCheck1">Monthly</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="customCheck5" >
					  <label class="custom-control-label" for="customCheck1">Yearly</label>
					</div><br>

				<div class="form-group">
					<h5>Services</h5>
					<textarea class="form-control" id="descriptionSponsor" placeholder="What services do you expect in return from the client?" rows="6"></textarea>	
				</div>
				
				<button type="button" class="btn btn-info" style="padding:10px" onclick="submitSponsor();">Submit</button>
			</div>
		</div>
	</div>

	</div>
	<style>
/*body{
	width: 50%;
	padding: 0;
	margin: 0;
} */
.topSpacing{
    padding-top: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		var socket = io.connect('http://localhost:5000', { path:''});
		function submitRequest() {
         	socket.emit("submit_request", {name: document.getElementById("inputCompany").value, category: document.getElementById("typeOfCategory").value, frequency: document.getElementById("frequency").value, description: document.getElementById("description").value, cost: document.getElementById("inputCost").value, service: document.getElementById("clientCheck1").checked, outreach: document.getElementById("clientCheck2").checked, education: document.getElementById("clientCheck3").checked, technology: document.getElementById("clientCheck4").checked, gaming: document.getElementById("clientCheck5").checked});
		}
		function submitSponsor() {
			socket.emit("submit_sponsor", {service: document.getElementById("sponsorCheck1").checked, outreach: document.getElementById("sponsorCheck2").checked, education: document.getElementById("sponsorCheck3").checked, technology: document.getElementById("sponsorCheck4").checked, gaming: document.getElementById("sponsorCheck5").checked, phone: document.getElementById("phone").value, maxBudget: document.getElementById("goal").value, once: document.getElementById("customCheck1").checked, weekly: document.getElementById("customCheck2").checked, biweekly: document.getElementById("customCheck3").checked, monthly: document.getElementById("customCheck4").checked, yearly: document.getElementById("customCheck5").checked, description: document.getElementById("descriptionSponsor")})
		}
		socket.on("submitted", function(data) {
	    	window.location.href = "http://localhost:5000/";
	    	});

	</script>
	<div style={{client_show}}>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#" onclick="goToDashboard()">Dashboard</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor02">
	    <ul class="navbar-nav ml-auto">
	      
	     <ul class="navbar-nav mr-auto">
			  
			  <li class="nav-item">
			    <a class="nav-link" href="#" onclick="signout()">Logout</a>
			  </li>
	    </ul>
	    
	  </div>
	</nav>
	<!--category, company, cost, card-payment_method, text-->
	<div class="container topSpacing">
		<h1 style="text-align: center">Apply for Sponsorship</h1><br>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 center-block">
			 	<div class="form-group">
			      <h5>Select Category</h5>
			      <select class="form-control" id="typeOfCategory" >
			        <option>Business</option>
			        <option>Events</option>
			        <option>Clubs</option>
			      </select>
			    </div>
				<div class="form-group">
					<h5>Select Causes</h5>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="clientCheck1">
					  <label class="custom-control-label" for="clientCheck1">Community Service</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="clientCheck2">
					  <label class="custom-control-label" for="clientCheck2">Outreach</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="clientCheck3" >
					  <label class="custom-control-label" for="clientCheck3">Education</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="clientCheck4" >
					  <label class="custom-control-label" for="clientCheck4">Technology</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="clientCheck5" >
					  <label class="custom-control-label" for="clientCheck5">Gaming</label>
					</div>
				</div>

			    <div class = "outer">
					<div class="form-group">
						<h5>Company</h5>
						<input type="text" class="form-control" id="inputCompany">
					</div>

					<div class="form-group">
						<h5>Frequency of Payments</h5>
				      	<select class="form-control" id="frequency" >
				        	<option>One-time</option>
				        	<option>Weekly</option>
				        	<option>Bi-weekly</option>
				        	<option>Monthly</option>
				        	<option>Yearly</option>
				     	 </select>
					</div>

					<div class="form-group">
						<h5>Cost</h5>
						<input type="text" class="form-control" id="inputCost" placeholder="per payment">
					</div>

					

					<div class="form-group">
						<h5>Proposal</h5>
			      		<textarea placeholder="Write a proposal detailing where the money will be used, the impact of the entire project, projected reach (#), and your means of promoting sponsors' companies. This should be around 300-500 words." rows="17" cols="40" class="form-control" id="description"></textarea>
					</div>
					<button type="button" class="btn btn-info" style="padding:10px" onclick="submitRequest()">Submit</button>
				</div>
			</div>	
		</div>
	</div>
		</div>
		<style>
/*body{
	width: 50%;
	padding: 0;
	margin: 0;
} */
.topSpacing{
    padding-top: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>
</body>
