<!doctype html>
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	    <title></title>
	</head>
<body>
	<script type="text/javascript">
		var socket = io.connect('http://localhost:5000', { path:''});
	      function signout() {
	      	 socket.emit("signout", {});
	      	 setTimeout(function(){
            window.location.href = "http://localhost:5000/";
        }, 2000);
	      }
	      function goToDashboard() {
	      	window.location.href = "http://localhost:5000/dashboard";
	      }
	</script>
	<div style={{sponsor_show}}>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#" onclick="goToDashboard()">Dashboard</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor02">
	    <ul class="navbar-nav ml-auto">
	      
	     <ul class="navbar-nav mr-auto">
			  
			  <li class="nav-item">
			    <a class="nav-link" href="#" onclick="signout()">Logout</a>
			  </li>
	    </ul>
	    
	  </div>
	</nav>
	<center id="list">
	<!--
		<div class="card border-primary mb-3" style="max-width: 40rem;" padding = "10px">
		  <div class="card-header">Event</div>
		  <div class="card-body">
		    <h4 class="card-title">Hack TJ</h4>
		    <p id = "card-cost" class = "card-cost"> $1000.00 </p>
		    <p id = "card-payment_method" class = "card-payment_method">One time</p> 
		    <p id = "card-text" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <button type="button" class="btn btn-success" onclick = "match()">Match</button>
            <button type="button" class="btn btn-danger" onclick = "reject()">Reject</button>
		  </div>
		</div>
		<div class="card border-primary mb-3" style="max-width: 40rem;" padding = "10px">
		  <div class="card-header">School Club</div>
		  <div class="card-body">
		    <h4 class="card-title">TJ Ethics Bowl</h4>
		    <p id = "card-cost" class = "card-cost"> $100.00 </p>
		    <p id = "card-payment_method" class = "card-payment_method">monthly</p> 
		    <p id = "card-text" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <button type="button" class="btn btn-success" onclick = "match()">Match</button>
            <button type="button" class="btn btn-danger" onclick = "reject()">Reject</button>
		  </div>
		</div>--> 
	</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function match(client_company, sponsor_company){
		socket.emit("match", {data: [client_company, sponsor_company]})
	}
	function reject(){
		//do something
	}
	function getCards() {
		socket.emit("getEvents", {});
	}
	var socket = io.connect('http://localhost:5000', { path:''});
         socket.on("newEventAdded", function(data) {
	    	document.getElementById("list").innerHTML += data.file;
	    	});
	getCards();
	function match(f) {
		socket.emit("match", {data:f});
		socket.emit("match2", {data:f});
	}
</script>
	</div>
	<div style={{client_show}}>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#" onclick="goToDashboard()">Dashboard</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor02">
	    <ul class="navbar-nav ml-auto">
	      
	     <ul class="navbar-nav mr-auto">
			  
			  <li class="nav-item">
			    <a class="nav-link" href="#" onclick="signout()">Logout</a>
			  </li>
	    </ul>
	    
	  </div>
	</nav>
	<h1 style="text-align: center; padding-top: 5%"> Your Client Matches </h1>
	<div id = "allMatches" style="display: block; margin: 0 auto; padding: 10px;"></div>

	<script type="text/javascript">
		function returnMatches(){
			//firebase stuff
			return {matches:[
					{
						typeName:"Event",
						name:"HackTJ",
						cost:1000.00,
						termLength: "One-time",
						description:"HackTJ is an event that reaches over 500 people annually, with students coming in all across the country..."
					},
					{
						typeName:"School Club",
						name:"TJ Ethics Bowl",
						cost:100.00,
						termLength: "Monthly",
						description:"A group that values ethics at TJ. Also a meme..."
					}

				]
			}
		}
		var allMatchesDiv = document.getElementById('allMatches');
		allMatchesDiv.innerHTML = "";
		var allCurly = returnMatches().matches;
		for (var pointer in allCurly){
			nodeEvent = allCurly[pointer];
			allMatchesDiv.innerHTML += '<div class="card text-white bg-success mb-3" style="max-width: 40rem; text-align:center; display:block; margin: 0 auto;"><div class="card-header">'+nodeEvent.typeName+'</div><div class="card-body"><a href = "#"><h2 class="card-title" style="color:#eeeeee">'+nodeEvent.name+'</h2></a><p id = "card-cost" class = "card-cost">$'+nodeEvent.cost+' ('+nodeEvent.termLength+')</p><p id = "card-text" class="card-text">'+nodeEvent.description+'</p></div>'; 
		}

	</script>

	</div>
</body>
