<!doctype html>
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	    <title></title>
	</head>
<body>
	<script type="text/javascript">
		var socket = io.connect('http://localhost:5000', { path:''});
	      function signout() {
	      	 socket.emit("signout", {});
	      	 setTimeout(function(){
            window.location.href = "http://localhost:5000/";
        }, 2000);
	      }
	      function goToForm() {
	      	window.location.href = "http://localhost:5000/form";
	      }
	</script>
	<div style={{client_show}}>
		 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" onclick="goToIndex()">SponsorsList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="signout()">Logout <span class="sr-only">(current)</span></a>
        </li>
        <!--PLEASE CHANGE THIS TO CHECK LOGOUT STATUS AND LOGOUT-->
        
      </ul>
    </div>
  </nav>
  <div class="card border-dark mb-3" style="width:80%; display:block; margin:0 auto; margin-top: 5%;">
    <div class="card-header" style="padding-bottom: 3%"></div>
    <h1 class="card-title" style="text-align: center; padding-top: 3%">Welcome!</h1>
    <div class="card-text" style="padding-bottom: 4%">
      <h3 class="user_type_label text-info" style="text-align: center;">Client</h3>
      <h2 class="sponsor_notification" style="text-align: center;">You have <a href="#">0</a> sponsor matches</h2>
      <div class="container navigation_box" style="text-align: center;">
        <div class="row" style="width: 100%;">
          <div class="col-sm">
            <a href="#" id="applyButton" onclick="goToForm();">Apply</a>
          </div>
          <div class="col-sm">
            <a href="#" id="appButton">My Applications</a>
          </div>
          <div class="col-sm">
            <a href="#" id="matchButton" onclick="goToSearch()">Matches</a>
          </div>
      </div>
    </div>
  </div>
</div>

<p class="description" id="desc_info" style="text-align: center; margin: 0 auto; width: 100%"></p>

<script type="text/javascript">
	function goToIndex() {
		window.location.href = "http://localhost:5000/";
	}
  $("#applyButton").hover(
    function() {
      document.getElementById("desc_info").innerHTML="Apply to find potential sponsors!";
    }, function() {
      document.getElementById("desc_info").innerHTML="";
    }
  );
  $("#appButton").hover(
    function() {
      document.getElementById("desc_info").innerHTML="Check out your current applications!";
    }, function() {
      document.getElementById("desc_info").innerHTML="";
    }
  );
  $("#matchButton").hover(
    function() {
      document.getElementById("desc_info").innerHTML="Browse through Sponsors that matched with you!";
    }, function() {
      document.getElementById("desc_info").innerHTML="";
    }
  );
</script>
<script type="text/javascript">
  sr.reveal('div');
</script>
	</div>

	<div style={{sponsor_show}}>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" onclick="goToIndex();">SponsorsList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="signout();">Logout <span class="sr-only">(current)</span></a>
        </li>
        <!--PLEASE CHANGE THIS TO CHECK LOGOUT STATUS AND LOGOUT-->
        
      </ul>
    </div>
  </nav>
  <div class="card border-dark mb-3" style="width:80%; display:block; margin:0 auto; margin-top: 5%;">
    <div class="card-header" style="padding-bottom: 3%"></div>
    <h1 class="card-title" style="text-align: center; padding-top: 3%">Welcome!</h1>
    <div class="card-text" style="padding-bottom: 4%">
      <h3 class="user_type_label text-info" style="text-align: center;">Sponsor</h3>
      <h2 class="sponsor_notification" style="text-align: center;">You have <a href="#">0</a> client matches</h2>
      <div class="container navigation_box" style="text-align: center;">
        <div class="row" style="width: 100%;">
          <div class="col-sm">
            <a href="#" id="searchButton" style="text-align: center;" onclick="goToSearch()">Search</a>
          </div>
          <div class="col-sm">
            <a href="#" id="requestsButton" style="text-align: center;">Requests</a>
          </div>
          <div class="col-sm">
            <a href="#" id="matchButton" style="text-align: center;">Matches</a>
          </div>
      </div>
    </div>
  </div>
</div>

<p class="description" id="desc_info" style="text-align: center; margin: 0 auto; width: 100%"></p>

	</div>
	<script type="text/javascript">
  $("#searchButton").hover(
    function() {
      document.getElementById("desc_info").innerHTML="Search for potential clients!!";
    }, function() {
      document.getElementById("desc_info").innerHTML="";
    }
  );
  $("#requestsButton").hover(
    function() {
      document.getElementById("desc_info").innerHTML="Check out clients who have requested your sponsorship!";
    }, function() {
      document.getElementById("desc_info").innerHTML="";
    }
  );
  $("#matchButton").hover(
    function() {
      document.getElementById("desc_info").innerHTML="Browse through Sponsors that matched with you!";
    }, function() {
      document.getElementById("desc_info").innerHTML="";
    }
  );
  function goToSearch() {
          window.location.href = "http://localhost:5000/searchCard";
        }
</script>
<script type="text/javascript">
  sr.reveal('div');
</script>
</body>
